{%- if collection|length > 0 -%}
<div class="events__widget">
    {% for object in collection.filterBy({ published: true }) %}
        {% render object layout: 'widget' %}
    {% endfor %}

    {%- set query = { items: { '@page.page': listpage } } -%}
    {%- set listpage = grav.page.collection( query ) -%}
    {%- if listpage|first -%}
    <p>
        <a href="{{ listpage|first.url }}">
            {{ 'PLUGIN_EVENTLIST.ALL_EVENTS'|t }}
        </a>
    </p>
    {%- endif -%}
</div>
{%- endif -%}